<ng-progress [positionUsing]="'marginLeft'"
             [minimum]="0.08"
             [maximum]="1"
             [speed]="200"
             [showSpinner]="true"
             [direction]="'leftToRightIncreased'"
             [color]="'#F4B2B2'"
             [trickleSpeed]="300"
             [thick]="false"
             [ease]="'linear'"></ng-progress>
<div style="height: 70px;"></div>
<alerts></alerts>
<ngx-loading [show]="loading"></ngx-loading>

<!-- Begin Search -->
<section id="product-table"
         *ngIf="!isAddPage">
  <div class="container">
    <button class="btn btn-primary"
            (click)="onChangePage('I')">เพิ่มรายการสินค้า</button>
    <table datatable
           [dtOptions]="dtOptions"
           class="row-border hover">
      <thead>
        <tr>
          <th>ชื่อสินค้า</th>
          <th>ประเภทสินค้า</th>
          <th>ชนิด</th>
          <th>ขนาด</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productObj of productListForm"
            (click)="onSelectRow(productObj)">
          <td>{{ productObj.product.productName }}</td>
          <td>{{ productObj.product.productCategory }}</td>
          <td>{{ productObj.product.productType }}</td>
          <td>{{ productObj.product.productSize }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<!-- End Search -->


<!-- Begin Edit -->
<section id="product-table"
         *ngIf="isAddPage">
  <form [formGroup]="group"
        (ngSubmit)="onClickSubmit()">
    <div class="container">
      <button class="btn btn-danger"
              (click)="onChangePage('S')">ยกเลิก</button>
      <div class="row input-bg">
        <div class="col-lg-9 col-sm-12">
          <div class="row col-lg-12 col-sm-12 padding-form">
            <div class="col-lg-6 col-sm-6 col-xs-6">
              <label for="">ชื่อสินค้า</label>
              <input formControlName="productName"
                     name="productName"
                     type="text"
                     class="form-control">
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3">
              <label for="">ประเถทสินค้า</label>
              <select formControlName="productCategory"
                      name="productCategory"
                      class="form-control">
                          <option value="" selected disabled></option>
                          <option value="1">ช่อดอกไม้</option>
                          <option value="2">กระเช้าดอกไม้</option>
                          <option value="3">ขวดแก้ว</option>
                        </select>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3">
              <label for="">ราคา</label>
              <input formControlName="productPrice"
                     name="productPrice"
                     type="number"
                     class="form-control">
            </div>
          </div>
          <div class="row col-lg-12 col-sm-12 col-xs-12 padding-form">
            <div class="col-lg-6 col-sm-12 col-xs-12">
              <label for="">ขนาด</label>
              <div>
                <ul class="radio">
                  <li class="radio"
                      style="width:50px;">
                    <input formControlName="productSize"
                           checked
                           type="radio"
                           name="productSize"
                           value="S">
                    <label class="radio">S</label>
                    <div class="bullet">
                    </div>
                  </li>
                  <li class="radio"
                      style="width:50px;">
                    <input formControlName="productSize"
                           type="radio"
                           name="productSize"
                           value="M">
                    <label class="radio">M</label>
                    <div class="bullet">
                    </div>
                  </li>
                  <li class="radio"
                      style="width:50px;">
                    <input formControlName="productSize"
                           type="radio"
                           name="productSize"
                           value="L">
                    <label class="radio">L</label>
                    <div class="bullet">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12">
              <label for="">ชนิด</label>
              <div>
                <ul class="radio">
                  <li class="radio"
                      style="width:70px;">
                    <input formControlName="productType"
                           checked
                           type="radio"
                           value="S"
                           name="productType">
                    <label class="radio">เซ็ท</label>
                    <div class="bullet">
                    </div>
                  </li>
                  <li class="radio"
                      style="width:70px;">
                    <input formControlName="productType"
                           type="radio"
                           value="P"
                           name="productType">
                    <label class="radio">ชิ้น</label>
                    <div class="bullet">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row col-lg-12 col-sm-12 padding-form">
            <div class="col-lg-12 col-sm-12 col-xs-12">
              <label for="">รายละเอียด</label>
              <textarea formControlName="productDetail"
                        name="productDetail"
                        rows="5"
                        class="form-control">This one.&#10;This is my statement2</textarea>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div class="col-lg-12 col-sm-12 col-xs-12 margin-t"
               style="text-align: center;">
            <div class="col-lg-12">
              <a (click)="onDeleteImage()"
                 class="btn-close">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
              <img src="{{imagePath}}"
                   style="min-width: 100%;max-width: 100%;">
              <ngx-loading [show]="loadingImage"></ngx-loading>
            </div>
            <div class="padding-t">
              <label class="btn btn-primary">อัพโหลดไฟล์รูป
                <input
                (change)="onUploadImage($event)"
                (click)="onClickUpload()"
                formControlName="file"
                type="file"
                name="file"
                accept="image/*"
                style="display: none;">
              </label>
            </div>
          </div>
        </div>
        <div class="row col-lg-12 col-sm-12">
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <button type="submit"
                    class="button-outline-normal"
                    [disabled]="!group.valid || !file">บันทึก</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<!-- End Edit -->
