<header class="pdhead">
  <div class="header-content">
    <div class="header-content-inner">
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <a class="portfolio-box max-width"
           routerLink="/product">
          <img class="img-fluid max-width"
               src="./assets/img/flower_btn-1.jpg"
               alt="">
          <div class="img-text">SET</div>
        </a>
      </div>
      <div class="col-lg-6 text-center">
        <a class="portfolio-box max-width"
           routerLink="/custom">
          <img class="img-fluid max-width"
               src="./assets/img/flower_btn-2.jpg"
               alt="">
          <div class="img-text">CUSTOM</div>
          <div class="portfolio-box-caption"></div>
        </a>
      </div>
    </div>
  </div>
</section>

<div style="height: 56px;"></div>

<section id="product">
  <div class="container topic-header">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">SET</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 row nonmargin">
        <div class="col-3">
          <button (click)="onChangeCategory('')"
                  class="button-outline category btn-block size-btn no-side-margin"
                  [ngClass]="{ 'active': !categoryMode }">ทั้งหมด</button>
        </div>
        <div class="col-3">
          <button (click)="onChangeCategory('1')"
                  class="button-outline category btn-block size-btn no-side-margin"
                  [ngClass]="{ 'active': categoryMode === '1'}">ช่อดอกไม้</button>
        </div>
        <div class="col-3">
          <button (click)="onChangeCategory('2')"
                  class="button-outline category btn-block size-btn no-side-margin"
                  [ngClass]="{ 'active': categoryMode === '2'}">แจกันดอกไม้</button>
        </div>
        <div class="col-3">
          <button (click)="onChangeCategory('3')"
                  class="button-outline category btn-block size-btn no-side-margin"
                  [ngClass]="{ 'active': categoryMode === '3'}">กระเช้าดอกไม้</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <a class="col-lg-3 col-md-6 col-6 text-center col-centered a-underline"
         *ngFor="let productObj of productFormList"
         [routerLink]="['/preview', productObj.product.productId]">
        <div class="service-box border">
          <img class="img-fluid"
               [src]="productObj.imageShowPath | async">
          <p class="item-label name">{{ productObj.product.productName }}</p>
          <p class="item-label price">ราคา {{ productObj.priceShow }} บาท</p>
        </div>
      </a>
    </div>
  </div>
</section>
