.img-text {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    color: rgba(248, 248, 248, 0.85);
    background: transparent;
    font-size: 9vw;
}

.service-box:hover {
    opacity: 0.8;
    background-color: #F8F8F8;
    transition: all 0.5s;
}

.a-underline {
    text-decoration: none;
}

p.item-label {
    font-size: 18px;
    color: #333333;
}

p.item-label.name {
    font-weight: 200;
}

p.item-label.price {
    font-weight: 100;
}

h2.section-heading {
    font-size: 3rem;
    font-weight: 200;
}

.size-btn {
    font-size: 20px;
    font-weight: 200;
}

.nonmargin {
    margin: 0;
}

.margint {
    margin-top: 10px;
}

.nopadding {
    padding: 0px;
}

.blocking {
  position: fixed;
  background: red;
  height: 100%;
  width: 100%;
  bottom: 0px;
  top: 0px;
  z-index: 1001;
}
