<header class="pdhead">
  <div class="header-content">
    <div class="header-content-inner">
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <h2 class="section-heading">SET</h2>
      </div>
      <div class="col-lg-6 text-center">
        <h2 class="section-heading">CUSTOM</h2>
      </div>
    </div>
  </div>
</section>

<div style="height: 56px;"></div>

<section id="product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">SET</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 row nonmargin">
        <div class="col-4"><button class="button-outline negative btn-block size-btn no-side-margin">ช่อดอกไม้</button></div>
        <div class="col-4"><button class="button-outline negative btn-block size-btn no-side-margin">แจกันดอกไม้</button></div>
        <div class="col-4"><button class="button-outline negative btn-block size-btn no-side-margin">กระเช้า</button></div>
      </div>
      <!-- <div class="col-lg-3 col-md-3 text-center col-centered">
      </div> -->
    </div>
  </div>
  <div class="container">
    <div class="row">
      <a class="col-lg-3 col-md-6 col-6 text-center col-centered a-underline"
         *ngFor="let productObj of productFormList"
         [routerLink]="['/preview', productObj.product.productId]">
        <div class="service-box border">
          <img class="img-fluid"
               src="{{ productObj.imageShowPath }}">
          <p class="item-label name">{{ productObj.product.productName }}</p>
          <p class="item-label price">ราคา {{ productObj.priceShow }} บาท</p>
        </div>
      </a>
    </div>
  </div>
</section>
