<header class="pdhead">
  <div class="header-content">
    <div class="header-content-inner">
    </div>
  </div>
</header>

<div class="space"></div>

<section id="product">
  <div class="container topic-header">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">สินค้าของเรา</h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="menu-side">
          <p class="header-menuside">ประเภทสินค้า</p>
          <ul class="sidemenu">
            <li>
              <a (click)="onChangeCategory('1')"
                 [ngClass]="{ 'active': categoryMode === '1'}">
                <i class="fa fa-angle-right"
                   aria-hidden="true"></i> ช่อดอกไม้สด</a>
            </li>
            <li>
              <a (click)="onChangeCategory('2')"
                 [ngClass]="{ 'active': categoryMode === '2'}">
                <i class="fa fa-angle-right"
                   aria-hidden="true"></i> ช่อดอกไม้แห้ง</a>
            </li>
            <li>
              <a (click)="onChangeCategory('3')"
                 [ngClass]="{ 'active': categoryMode === '3'}">
                <i class="fa fa-angle-right"
                   aria-hidden="true"></i> แจกันดอกไม้สด</a>
            </li>
            <li>
              <a (click)="onChangeCategory('4')"
                 [ngClass]="{ 'active': categoryMode === '4'}">
                <i class="fa fa-angle-right"
                   aria-hidden="true"></i> แจกันดอกไม้แห้ง</a>
            </li>
            <li>
              <a (click)="onChangeCategory('5')"
                 [ngClass]="{ 'active': categoryMode === '5'}">
                <i class="fa fa-angle-right"
                   aria-hidden="true"></i> กระเช้าดอกไม้</a>
            </li>
            <li>
              <a (click)="onChangeCategory('6')"
                 [ngClass]="{ 'active': categoryMode === '6'}">
                <i class="fa fa-angle-right"
                   aria-hidden="true"></i> พวงหรีด</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-10 row nonmargin">
        <a class="col-lg-3 col-md-6 col-6 text-center col-centered a-underline"
           *ngFor="let productObj of productFormList"
           [routerLink]="['/preview', productObj.product.productId]">
          <div class="service-box border">
            <img class="img-fluid"
                 [src]="productObj.product.productImagePath">
            <p class="item-label name">{{ productObj.product.productName }}</p>
            <p class="item-label price">ราคา {{ productObj.product.productPrice }} บาท</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
