.dis-inline {
    display: inline;
}

.price-labelc {
    color: #656565;
}

.bottom-position {
    bottom: 10px;
    width: 100%;
}

.font25px {
    font-size: 25px;
}

.nomargin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.table-parent {
    width: 100%;
}

table.table-parent h2 {
    font-weight: 200 !important;
}

table.table-parent tbody td {
    font-weight: 200;
    border-bottom: solid #e0e0e0 1px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.customr {
    margin-top: -7px;
    font-size: 25px;
    font-weight: 200;
}

.paddingl0 {
    padding-left: 0px;
}

.marginTB15 {
    margin-top: 25px;
    margin-bottom: 25px;
}

h2 {
    font-weight: 300;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.label-showing {
    font-size: 25px;
}

.label-showing.label {
    font-weight: 100;
}

.label-showing.value {
    font-weight: 200;
}

.size-btn {
  font-size: 20px;
  font-weight: 200;
}
