.dis-inline {
    display: inline;
}

.price-labelc {
    color: #656565;
}

.bottom-position {
    bottom: 10px;
    width: 100%;
}

.font25px {
    font-size: 25px;
}

.nomargin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.table-parent {
  word-wrap: break-word;
  table-layout:fixed;
  height: 100%;
  width: 100%;
}

.margin-bottom {
  margin-bottom: 10px;
}

.customr {
  margin-top: -7px;
  font-size: 25px;
  font-weight: 400;
}

.paddingl0 {
  padding-left: 0px;
}

.marginTB15 {
  margin-top: 25px;
  margin-bottom: 25px;
}

h2 {
  font-weight: 300;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
