<div style="height: 70px;"></div>
<section id="preview">
  <div class="container">
    <div class="row col-12">
      <nav aria-label="breadcrumb"
           role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/">หน้าหลัก</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/product">รายการสินค้า</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/product', category.categoryId]">{{category.categoryName}}</a>
          </li>
          <li class="breadcrumb-item active"
              aria-current="page">{{productForm.product.productName}}</li>
        </ol>
      </nav>
    </div>
    <div class="row col-12">
      <div class="col-lg-7 col-12">
        <img [src]="productForm.product.productImagePath"
             style="width:100%;padding: 30px;">
      </div>
      <div class="col-lg-5 col-12">
        <form [formGroup]="group"
              (ngSubmit)="onAddToCart(group)">
          <table class="table-parent">
            <thead>
              <tr>
                <th colspan="2">
                  <h2>{{ productForm.product.productName }}
                    <b *ngIf="productForm.product.productSize">({{ productForm.product.productSize }})</b>
                  </h2>
                </th>
              </tr>
              <tr>
                <th colspan="2">
                  <p style="font-weight: 200;color: rgb(159, 159, 159);">{{ productForm.product.productDetail }}</p>
                </th>
              </tr>
              <tr class="space"></tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="label-showing label">จำนวน :</div>
                </td>
                <td style="text-align: right">
                  <input type="number"
                         size="2"
                         class="form-control"
                         style="width: 60px;float: right;"
                         [(ngModel)]="pdQty"
                         name="productQty"
                         (change)="onChangeQty()"
                         formControlName="productQty">
                </td>
              </tr>
              <tr>
                <td>
                  <div class="label-showing label">ราคา :</div>
                </td>
                <td class="label-showing value"
                    style="text-align: right">฿ {{ showingPrice }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">
                  <button type="submit"
                          class="button-bg primary btn-block size-btn nomargin">
                    <i class="fa fa-archive"
                       aria-hidden="true"></i> เพิ่มรายการ</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </form>
      </div>
    </div>
  </div>
</section>
