<nav class="navbar navbar-expand-lg navbar-light fixed-top"
     id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger"
       href="#page-top">FLOWER</a>
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger"
             routerLink="/product"
             routerLinkActive="active">
            <i class="fa fa-tags"
               aria-hidden="true"></i> รายการสินค้า</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger"
             routerLink="/payment"
             routerLinkActive="active">
            <i class="fa fa-credit-card"
               aria-hidden="true"></i> แจ้งการชำระสินค้า</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger"
             routerLink="/tracking"
             routerLinkActive="active">
            <i class="fa fa-search"
               aria-hidden="true"></i> ติดตามสถานะ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger"
             routerLink="/cart"
             routerLinkActive="active">
            <i class="fa fa-shopping-cart"
               aria-hidden="true"></i> ตะกร้าสินค้า</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger"
             routerLink="/product-manage"
             routerLinkActive="active">
            <i class="fa fa-tasks"
               aria-hidden="true"></i> จัดการสินค้า</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger"
             routerLink="/order-manage"
             routerLinkActive="active">
             <i class="fa fa-list-ol" aria-hidden="true"></i> จัดการออเดอร์</a>
        </li>
        <!-- <li class="nav-item"
            *ngIf="!displayName">
          <a class="nav-link js-scroll-trigger"
             routerLink="/signin"
             routerLinkActive="active"><i class="fa fa-sign-in" aria-hidden="true"></i> เข้าสู่ระบบ</a>
        </li> -->
        <li class="nav-item d-lg-block d-none"
            *ngIf="displayName"
            style="margin-left: 40px;">
          <a class="nav-link js-scroll-trigger"> {{displayName}}</a>
        </li>
        <li class="nav-item"
            *ngIf="displayName">
          <a class="nav-link js-scroll-trigger"
             (click)="logout()"
             style="cursor: pointer">
            <i class="fa fa-sign-out"
               aria-hidden="true"></i> ออกจากระบบ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
