<footer>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-6 col-offset-3 text-center  col-centered">
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text.
              <br>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            <p class="fh5co-social-icons">
              <a href="#" target="_blank"><i class="icon-twitter-with-circle"></i></a>
              <a href="http://www.facebook.com/BiW.Walker" target="_blank"><i class="icon-facebook-with-circle"></i></a>
              <a href="#" target="_blank"><i class="icon-instagram-with-circle"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
