<footer class="mastfooter">
  <div class="footer-content">

    <div class="footer-content-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">ติดต่อเรา</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-12 ml-auto text-center">
          <i class="fa fa-home fa-3x sr-contact"></i>
          <p>123/4 หมู่ 123 ต.รอบเวียง อ.เมือง จ.เชียงราย 57000</p>
        </div>
        <div class="col-lg-3 col-md-3 col-12 ml-auto text-center">
          <i class="fa fa-mobile fa-3x sr-contact"></i>
          <p>086-244-4523</p>
        </div>
        <div class="col-lg-3 col-md-3 col-12 ml-auto text-center">
          <i class="fa fa-envelope fa-3x sr-contact"></i>
          <p>info@email.com</p>
        </div>
        <div class="col-lg-3 col-md-3 col-12 ml-auto text-center">
          <i class="fa fa-facebook-square fa-3x sr-contact"></i>
          <p>facebook</p>
        </div>
      </div>
    </div>
  </div>
</footer>
