#footer {
  background-color: #f8f9fa;
  padding: 60px 0 40px;
}
#footer p {
  font-size: 14px;
}
#footer p i.love {
  color: red;
}

.fh5co-social-icons a {
  padding: 4px 8px;
  color: rgba(0, 0, 0, 0.7);
}
.fh5co-social-icons a i {
  font-size: 34px;
}
.fh5co-social-icons a:hover, .fh5co-social-icons a:focus, .fh5co-social-icons a:active {
  text-decoration: none;
  color: #000;
  text-decoration: none !important;
}
