<div style="height: 70px;"></div>
<section id="preview">
  <div class="container">
    <div class="col-lg-4 col-md-6 col-8 col-centered content-margint">
      <div class="row col-12 input-bg nonemargin">
        <div class="col-12 text-center">
          <div class="text-head">สำเร็จ</div>
        </div>
        <div class="col-12 text-center text-ico">
          <i class="fa fa-check-circle"
             aria-hidden="true"></i>
        </div>
        <div class="col-12 text-center">
          <div class="text-content">
            #ORDER ID : <b>{{ orderId }}</b>
          </div>
        </div>
        <div class="col-12 text-center">
          <div class="text-content">***กรุณาจำเลขที่สั่งซื้อ***</div>
          <div class="text-content">เพื่อติดตามสถานะสินค้า</div>
        </div>
        <div class="col-12 text-center text-content">
          <a [routerLink]="['/tracking']"
             [queryParams]="{ orderId: orderId }">ติดตามสถานะ</a>
        </div>
        <div class="col-12 text-center">
            <div class="text-content">***สำหรับช่องทางโอนเงินผ่านธนาคาร***</div>
            <div class="text-content">ทางเราจะแจ้งบัญชีธนาคารทางอีเมลล์</div>
          </div>
      </div>
    </div>
  </div>
</section>
