<div style="height: 70px;"></div>
<section id="preview">
  <div class="container">
    <div class="row col-12 paddingb15">
      <h2 class="header">CHECK OUT</h2>
    </div>
    <div class="row col-12 minh40"
         *ngIf="cart.cartItems.length == 0">
      <p>ไม่พบสินค้าในตระกร้า</p>
      <p>ท่าสามารสั่งซื้อในหน้า
        <a routerLink="/product">รายการสินค้า</a> ได้</p>
    </div>

    <div *ngIf="cart.cartItems.length > 0">
      <form [formGroup]="group"
            (ngSubmit)="onContinue()">
        <div class="row col-12 content-margint nomargin">

          <div class="col-12 margint10">
            <div class="row col-12 box input-bg nomargin">
              <div class="col-12 box-header">
                <h2>
                  <i class="fa fa-map-marker"
                     aria-hidden="true"></i> กรุณาระบุตำแหน่งที่จัดส่งของคุณบนแผนที่ *</h2>
              </div>
              <div class="col-12 margin-vertical10 nosidepadding"
                   style="margin-bottom: -14px;margin-top: -20px;">
                <div #map
                     id="my-map"></div>
              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-sm-12 margint10">
            <div class="row col-12 box input-bg nomargin">
              <div class="col-12 box-header">
                <h2>
                  <i class="fa fa-address-card-o"
                     aria-hidden="true"></i> ที่อยู่การจัดส่ง</h2>
              </div>
              <div class="col-6 margin-vertical10">
                <label class="fontwei200">ชื่อ</label>
                <input type="text"
                       class="form-control"
                       formControlName="firstname"
                       name="firstname">
              </div>
              <div class="col-6 margin-vertical10">
                <label class="fontwei200">นามสกุล</label>
                <input type="text"
                       class="form-control"
                       formControlName="lastname"
                       name="lastname">
              </div>
              <div class="col-12 margin-vertical10">
                <label class="fontwei200">ที่อยู่</label>
                <input type="text"
                       class="form-control"
                       formControlName="address"
                       name="address">
              </div>
              <div class="col-12 margin-vertical10">
                <label class="fontwei200">ตำบล</label>
                <select class="form-control"
                        formControlName="subDistrict"
                        name="subDistrict"
                        (change)="onChangeDestination()">
                  <option *ngFor="let tumbol of tumbols"
                          [value]="tumbol.key">{{tumbol.name}}</option>
                </select>
              </div>
              <div class="col-12 margin-vertical10">
                <label class="fontwei200">อำเภอ</label>
                <select class="form-control"
                        formControlName="district"
                        name="district"
                        disabled>
                  <option value="อำเภอเมืองเชียงราย">เมืองเชียงราย</option>
                  <option value="อำเภอ เวียงชัย">เวียงชัย</option>
                  <option value="อำเภอ เชียงของ">เชียงของ</option>
                  <option value="อำเภอ เทิง">เทิง</option>
                  <option value="อำเภอ พาน">พาน</option>
                  <option value="อำเภอ ป่าแดด">ป่าแดด</option>
                  <option value="อำเภอ แม่จัน">แม่จัน</option>
                  <option value="อำเภอ เชียงแสน">เชียงแสน</option>
                  <option value="อำเภอ แม่สาย">แม่สาย</option>
                  <option value="อำเภอ แม่สรวย">แม่สรวย</option>
                  <option value="อำเภอ เวียงป่าเป้า">เวียงป่าเป้า</option>
                  <option value="อำเภอ พญาเม็งราย">พญาเม็งราย</option>
                  <option value="อำเภอ เวียงแก่น">เวียงแก่น</option>
                  <option value="อำเภอ ขุนตาล">ขุนตาล</option>
                  <option value="อำเภอ แม่ฟ้าหลวง">แม่ฟ้าหลวง</option>
                  <option value="อำเภอ แม่ลาว">แม่ลาว</option>
                  <option value="อำเภอ เวียงเชียงรุ้ง">เวียงเชียงรุ้ง</option>
                  <option value="อำเภอ ดอยหลวง">ดอยหลวง</option>
                </select>
              </div>
              <div class="col-12 margin-vertical10">
                <label class="fontwei200">จังหวัด</label>
                <select class="form-control"
                        formControlName="province"
                        name="province"
                        disabled>
                  <option value="จ.เชียงราย"
                          selected>เชียงราย</option>
                </select>
              </div>
              <div class="col-12 margin-vertical10">
                <label class="fontwei200">รหัสไปรษณีย์</label>
                <input type="text"
                       class="form-control"
                       formControlName="postcode"
                       name="postcode">
              </div>
              <div class="col-12 margin-vertical10">
                <label class="fontwei200">อีเมล์</label>
                <input type="email"
                       class="form-control"
                       formControlName="email"
                       name="email">
              </div>
              <div class="col-12 margin-vertical10">
                <label class="fontwei200">เบอร์ติดต่อ</label>
                <input type="text"
                       class="form-control"
                       formControlName="tel"
                       name="tel">
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-sm-12 margint10">
            <div class="row col-12 box input-bg nomargin">
              <div class="col-12 box-header">
                <h2>
                  <i class="fa fa-truck"
                     aria-hidden="true"></i> ระยะทางการส่งของ</h2>
              </div>
              <div class="col-12 margin-vertical10">
                <div class="fontwei200 margin-vertical10"><i class="fa fa-paper-plane" aria-hidden="true"></i> จาก :
                  <p class="location-target">{{cart.store.storeName}}</p>
                </div>
                <div class="fontwei200 margin-vertical10"><i class="fa fa-flag" aria-hidden="true"></i> ถึง :
                  <div class="location-target"
                       #destination></div>
                </div>
                <div class="fontwei200 margin-vertical10"><i class="fa fa-car" aria-hidden="true"></i> ระยะทาง :
                  <div class="inline location-target"
                       #distance></div>
                </div>

                <div class="fontwei200 margin-vertical10"><i class="fa fa-money" aria-hidden="true"></i> รวมค่าขนส่ง :
                  <div class="inline location-target"
                       #dilivery></div> บาท
                </div>
              </div>
            </div>

            <div class="row col-12 box input-bg nomargin margint10">
              <div class="col-12 box-header">
                <h2>
                  <i class="fa fa-credit-card"
                     aria-hidden="true"></i> ชำระเงิน</h2>
              </div>
              <div class="col-12 margin-vertical10">
                <label class="fontwei200">ช่องทางการชำระเงิน :</label>
                <ul class="radio paddingl0 marginTB15">
                  <li class="radio">
                    <input type="radio"
                           value="T"
                           formControlName="paymentType"
                           name="paymentType">
                    <label class="radio customr">โอนเงินผ่านธนาคาร</label>
                    <div class="bullet">
                    </div>
                  </li>
                  <!-- <li class="radio">
                    <input type="radio"
                           value="C"
                           formControlName="paymentType"
                           name="paymentType"
                           name="paymentType">
                    <label class="radio customr">Credit Card/Debit Card</label>
                    <div class="bullet">
                    </div>
                  </li> -->
                  <li class="radio">
                    <input type="radio"
                           value="D"
                           formControlName="paymentType"
                           name="paymentType"
                           name="paymentType">
                    <label class="radio customr">เก็บเงินปลายทาง</label>
                    <div class="bullet">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-sm-12 margint10">
            <div class="col-12 box input-bg nomargin nopaddingb">
              <div class="col-12 box-header">
                <h2>
                  <i class="fa fa-cube"
                     aria-hidden="true"></i> สรุปการสั่งซื้อ</h2>
              </div>
              <div class="row col-12 margin-vertical10 nomargin nomarginb">
                <table class="item-list">
                  <tr>
                    <th>สินค้า</th>
                    <th style="width:65px; text-align: center;">จำนวน</th>
                    <th style="width:70px; text-align: right;">ราคา</th>
                  </tr>
                  <tr *ngFor="let cartObj of cart.cartItems">
                    <td>
                      <div>
                        <img src="{{cartObj.product.productImagePath }}"
                             style="max-width: 50%;">
                      </div>
                      <div>{{ cartObj.product.productName }}
                        <b *ngIf="cartObj.product.productSize">({{ cartObj.product.productSize }})</b>
                      </div>
                    </td>
                    <td style="text-align: center;">{{ cartObj.productOrder.productQty }}</td>
                    <td style="text-align: right;">฿ {{ cartObj.productOrder.productTotalPrice }}</td>
                  </tr>
                  <tr>
                    <td>ยอดรวมสินค้า</td>
                    <td></td>
                    <td style="text-align: right;">฿ {{ cart.order.totalPrice }}</td>
                  </tr>
                  <tr>
                    <td style="border-bottom: 0px;">ค่าจัดส่ง</td>
                    <td style="border-bottom: 0px;"></td>
                    <td style="text-align: right;border-bottom: 0px;">฿ 0</td>
                  </tr>
                </table>
              </div>
              <div class="col-12 box-footer nosidepadding">
                <div class="sidepadding15">
                  <div class="floatl total">ยอดที่ต้องชำระ</div>
                  <div class="floatr total">฿ {{ cart.order.totalPrice }}</div>
                </div>
              </div>
            </div>
            <div class="margint10">
              <button [disabled]="!group.valid"
                      type="submit"
                      class="button-bg primary btn-block nomargin continue-btn">
                <i class="fa fa-archive"
                   aria-hidden="true"></i> ดำเนินการต่อ</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>