.txtalign-center {
    text-align: center;
}

section {
    padding: 25px 0 !important;
}

.padding-form {
    padding-top: 5px;
    padding-bottom: 15px;
}

input {
    font-weight: 200;
}

select {
    font-weight: 200;
}

textarea {
    font-weight: 200;
}

.no-side-margin {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.no-side-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

a.max-width {
    min-width: 100% !important;
    max-width: 100% !important;
}

.max-width {
    min-width: 100% !important;
    max-width: 100% !important;
}

.input-bg {
    margin-top: 20px;
    background-color: #f5f5f5;
    border-radius: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 0px;
    border-collapse: collapse;
}


/* Radio */

ul.radio {
    list-style-type: none;
    margin: auto;
}

li.radio {
    position: relative;
    padding: 3px;
    padding-left: 30px;
    height: 30px;
    display: inline-grid;
}

label.radio {
    font-weight: 200;
}

label.radio:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #F4B2B2;
    position: absolute;
    left: 2px;
    top: calc(50% - 8px);
    box-sizing: border-box;
    border-radius: 50%;
}

input[type="radio"] {
    opacity: 0;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    cursor: pointer;
}

.bullet {
    position: relative;
    width: 25px;
    height: 25px;
    left: -3px;
    top: 2px;
    border: 3px solid #F4B2B2;
    opacity: 0;
    border-radius: 50%;
}

input[type="radio"]:checked~.bullet {
    position: absolute;
    opacity: 1;
    animation-name: explode;
    animation-duration: 0.350s;
}

@keyframes explode {
    0% {
        opacity: 0;
        transform: scale(10);
    }
    60% {
        opacity: 1;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* Button outline override*/

.button-outline {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.button-bg {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 2px;
  color: inherit;
  transition: all .5s;
}

.button-outline.normal {
    border: 2px solid #242424;
    color: #242424;
}

.button-outline.primary {
  border: 2px solid #F4B2B2;
  color: #F4B2B2;
}

.button-bg.primary {
  background-color: #F4B2B2;
  border: 2px solid #F4B2B2;
  color: white;
}

.button-outline.normal:hover,
.button-outline.primary:hover,
.button-bg.primary:hover {
  opacity: 0.7;
}

.button-outline.normal:disabled,
.button-outline.normal[disabled],
.button-outline.primary:disabled,
.button-outline.primary[disabled],
.button-bg.primary:disabled,
.button-bg.primary[disabled] {
  opacity: 0.5;
}


/* Validate */

.ng-touched.ng-invalid {
    border-color: red;
}


/*CHECKBOX*/

input[type="checkbox"] {
    display: none;
}

label.chkl div.chkv {
    color: #F4B2B2;
    font-size: 18px;
    width: 23px;
    height: 23px;
    display: inline-block;
    border: 2px solid #F4B2B2;
    text-align: center;
    line-height: 20px;
    margin-right: 6px;
    border-radius: 3px;
    cursor: pointer;
}

label.chkl i {
    font-size: 16px;
    opacity: 0;
}

label.chkl:hover div.chkv {
    background: transparent;
}

input[type="checkbox"]:checked+label.chkl i {
    opacity: 1;
}

input[type="checkbox"]:checked+label.chkl div.chkv {
    background: transparent;
}


.header-label {
  border-bottom: solid #e3e3e3 1px;
}

.content-margint {
  margin-top: 30px;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}
