<div style="height: 70px;"></div>
<section id="preview">
  <div class="container">
    <div class="row col-12 header-label">
      <h2 class="header">CART</h2>
    </div>
    <div class="col-12 content-margint">
        <button class="btn btn-primary" routerLink="/product">เลือกสินค้าเพิ่ม</button>
    </div>
    <div class="row col-12 minh40" *ngIf="cart.cartItems.length == 0" >
      <p>ไม่พบสินค้าในตระกร้า</p>
      <p>ท่าสามารสั่งซื้อในหน้า <a routerLink="/product">รายการสินค้า</a> ได้</p>
    </div>
    <div class="row col-12 content-margint" *ngIf="cart.cartItems.length > 0">
      <div class="row col-lg-8 col-md-12 col-sm-12 non-margin">
        <div class="col-12 d-none d-lg-block non-margin listh-text padding-bottom">
          <div class="row col-12 noside-padding non-margin">
            <div class="col-8">สินค้า
            </div>
            <div class="col-2 txtalign-cen">จำนวน</div>
            <div class="col-2 txtalign-cen">ราคา</div>
          </div>
        </div>
        <div class="col-12 non-margin">
          <div class="row col-12 noside-padding item-list listc-text"
               *ngFor="let cart of cart.cartItems; let i = index">
            <div class="col-lg-8 col-12">
              <div class="row">
                <div class="col-lg-4 col-md-3 col-sm-4 col-4"><img src="{{cart.product.productImagePath}}"
                       style="max-width: 100%;"></div>
                <div class="col-lg-8 col-md-9 col-sm-8 col-8">{{ cart.product.productName }} <b *ngIf="cart.product.productSize">({{ cart.product.productSize }})</b></div>
              </div>
            </div>
            <div class="col-12 d-block d-lg-none h20"></div>
            <div class="col-lg-2 col-6 txtalign-cen">
              <label class="d-block d-lg-none">จำนวน</label>
              <input [(ngModel)]="cart.productOrder.productQty"
                     type="number"
                     class="form-control txtalign-cen"
                     style="width:70px; margin:auto;"
                     (change)="onChangeQty(cart.product.productId, cart.productOrder.productQty)"></div>
            <div class="col-lg-2 col-6 txtalign-cen"><label class="d-block d-lg-none">ราคา</label>
              <div>฿ {{ cart.productOrder.productTotalPrice }}</div>
            </div>
            <a (click)="onDeleteItem(cart.product.productId)"
               class="absolute"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="col-12 input-bg">
        <table class="table-parent">
          <tr>
            <td valign="top">
              <div class="summary-item">
                <h2 class="sumheader"><i class="fa fa-cube" aria-hidden="true"></i> สรุปการสั่งซื้อ</h2>
              </div>
              <div class="summary-item sub-summary minh40">
                <p class="floatl">มูลค่าสินค้า</p>
                <p class="floatr">฿ {{ cart.order.totalPrice }}</p>
              </div>
              <div class="summary-item total-summary minh40">
                <p class="floatl">ยอดรวม</p>
                <p class="floatr">฿ {{ cart.order.totalPrice }}</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div id="footer" class="sumfooter">
                <button type="button" (click)="onCheckOut()"
                        class="button-bg primary btn-block non-margin checkout"><i class="fa fa-credit-card" aria-hidden="true"></i> ชำระสินค้า</button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      </div>
    </div>
  </div>
</section>
